<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkDATA</title>
</head>
<body>
    AccountNO     :  {{ result["a"] }} <br><br> 
    PipelineId    : {{ result["b"] }} <br><br>
    StartDate     : {{ result["c"] }} <br><br>
    EndDate       : {{ result["d"] }} <br><br>
    Chunk Size          : {{ result["e"] }}<br><br>
    Account Name     : {{ result["f"] }} <br><br>
    account-slug  : {{ result["g"] }} <br><br>
    apikey        : {{ result["h"] }} 



</body>
</html> 